name: grade_b_museum
description: "쓸데없는 기능들을 진지하게 구현한 개인 실험 프로젝트입니다."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.11.0-230.0.dev

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true